// Ripple
[ripple] {
  z-index: 1;
  position: relative;
  overflow: hidden;

  .ripple {
    position: absolute;
    background: $white;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transform: scale(0);
    animation: ripple 2s;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.2;
  }

  100% {
    transform: scale(20);
    opacity: 0;
  }
}